//COLORS
$white-color: #E3E4E4;
$bright-color: #65CCB8;
$dark-color: #1C4A32;
$darker-color: #0C2116;

//SHADOW
$dark-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);

//BODY
body {
    position: relative;
    height: 100%;
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 1.6;
    background-color: $darker-color;
    color: $white-color;

    background-image: url(../img/background.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

//NAVBAR

  a {
    text-decoration: none;
    color: $bright-color;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $bright-color;
    opacity: 0.9;

    ul{
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 80px;
    }

    a{
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;    
    }

    a:hover{
        color: $bright-color;
    }
  }

//LANDING

  .landing-inner {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .x-large {
    font-size: 160px;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .text-title{
        font-family: 'Gochi Hand', cursive;
        color: $white-color;
        line-height: 1.2;
        margin-top: 160px;
        margin-bottom: 80px;
  }

  .btn {
    display: inline-block;
    box-shadow: $dark-shadow;
    padding: 0.4rem 1.3rem;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 16px;
    outline: none;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 160px;
    border-radius: 10px;
  }
  .btn.btn-primary {
    background-color:$dark-color;
    color: $white-color;
  }
  .btn.btn-primary:hover {
    background-color: $bright-color;
    color: $darker-color;
    box-shadow: $dark-shadow;
  }


//LOGIN & REGISTER
.container{
    text-align: center;
}
.text-primary {
    font-family: 'Gochi Hand', cursive;
    color: $bright-color;
    line-height: 1.2;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 80px;
  }

  .lead {
    margin-bottom: 40px;
    color: $white-color;
    font-size: 32px;
  }

  .form-group {
    margin: 1.2rem 0;
  }

  .form-field{
    border: none;
    border-bottom: solid $bright-color 1px;
    background-color: transparent;
    width: 40%;
    font-size: 20px;
    margin: 16px;
  }  


