@import url("https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css");
body {
  margin: 0;
  position: relative;
  height: 100%;
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #0C2116;
  color: #E3E4E4;
  background-image: url(../img/background.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #65CCB8;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #65CCB8;
  opacity: 0.9;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: #65CCB8;
}


.x-large {
  font-size: 160px;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-title {
  font-family: 'Gochi Hand', cursive;
  color: #E3E4E4;
  line-height: 1.2;
  margin-top: 160px;
  margin-bottom: 80px;
}

.btn {
  display: inline-block;
  -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 16px;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 160px;
  border-radius: 10px;
}

.btn.btn-primary {
  background-color: #1C4A32;
  color: #E3E4E4;
}

.btn.btn-primary:hover {
  background-color: #65CCB8;
  color: #0C2116;
  -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
}

.container {
  text-align: center;
  text-align: center;
}

.text-primary {
  font-family: 'Gochi Hand', cursive;
  color: #65CCB8;
  line-height: 1.2;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 80px;
}

.lead {
  margin-bottom: 40px;
  color: #E3E4E4;
  font-size: 32px;
}

.form-group {
  margin: 1.2rem 0;
}

.form-field {
  border: none;
  border-bottom: solid #65CCB8 1px;
  background-color: transparent;
  width: 40%;
  font-size: 20px;
  margin: 16px;
}

.leaflet-container {
  z-index: 1;
  width: 75%;
  height: 88.2vh;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-container {
  display: block;
  margin: auto;
  margin-top: 0;
  width: 25%;
  background: #2A4236;
  height: 88.2vh;
  -webkit-box-shadow: -25px -25px 30px rgba(0, 0, 0, 0.5);
          box-shadow: -25px -25px 30px rgba(0, 0, 0, 0.5);
  color: white;
}

.side-container hr {
  color: black;
}

.side-nav {
  /* margin-bottom: -0.4rem; */
  background: #0C2116;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #65CCB8;
}

input[type=button] {
  z-index: 1;
  background-color: rgba(31, 48, 39, 0.9);
  border: none;
  color: #65CCB8;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
}

input[type=button]:focus {
  z-index: 2;
  border: none;
  background: #2A4236;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.side-child {
  z-index: 2;
  padding: 12px;
  background: #2A4236;
  margin-top: -0.5rem;
}

.side-btn {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  /* font-size: 20px; */
  /* margin: 16px; */
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  /* width: 160px; */
  border-radius: 0.5rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
/*# sourceMappingURL=style.css.map */
.scrollable{
  overflow: auto;
}